.settings__block {
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    flex-direction: column;
    padding-top: var(--padding-m);
    padding-right: var(--padding-m);
    padding-bottom: var(--padding-m);
    padding-left: var(--padding-m);
    flex-grow: 1;
}

.settings__title {
    font-size: var(--text-l);
    -unity-font-style: bold;
    -unity-text-align: upper-center;
    margin-bottom: var(--indent-s);
}

.options__container {
    flex-grow: 1;
}

.options__list {
    flex-grow: 1;
    width: 90%;
}

.options__block Label {
    font-size: var(--text-m);
}

.options__block__title {
    -unity-font-style: bold;
    font-size: var(--text-m);
    -unity-text-align: upper-center;
    padding-left: var(--padding-s);
}

.options__block .unity-base-field {
    padding-right: var(--padding-s);
}

.options__block .unity-slider {
}

.options__block .unity-slider__label {
    flex-grow: 1;
    width: 50%;
}

.options__block .unity-slider__input {
    flex-grow: 1;
    width: 50%;
}

.options__block .unity-base-slider__tracker {
    height: 50px;
    top: 15%;
    border-left-color: rgb(2, 147, 87);
    border-right-color: rgb(2, 147, 87);
    border-top-color: rgb(2, 147, 87);
    border-bottom-color: rgb(2, 147, 87);
    border-top-width: 6px;
    border-right-width: 6px;
    border-bottom-width: 6px;
    border-left-width: 6px;
    background-color: rgb(255, 255, 255);
}

.options__block .unity-slider__input #unity-fill {
    background-color: rgb(47, 215, 146);
}

.options__block .unity-base-slider__dragger {
    height: 50px;
    top: 30%;
    background-color: rgb(2, 147, 87);
    width: 50px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.options__block Toggle {
    font-size: var(--text-s);
}

.language-list .unity-radio-button-group__container {
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
}

.language__item {
    background-image: url("project://database/Assets/Course%20Library/Textures/PolygonPrototype_Texture_Grid_08.png?fileID=2800000&guid=1d12fa396a3563b41b9ae11b0fb0b986&type=3#PolygonPrototype_Texture_Grid_08");
    width: 200px;
    height: 200px;
}

.language__item.last-child {
    margin-right: 0;
}

.language__item .unity-radio-button__checkmark-background {
}

.language__item .unity-radio-button__checkmark {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-width: initial;
    border-right-width: initial;
    border-bottom-width: initial;
    border-left-width: initial;
    width: 100%;
    height: 100%;
    background-image: url("project://database/Assets/UI%20Toolkit/Art/checkmark_green.png?fileID=2800000&guid=304bf2cf780fb7740ad891370c44de28&type=3#checkmark_green");
    background-size: 30% 30%;
}
