:root {
    --text-s: 24px;
    --text-m: 30px;
    --text-l: 40px;
    --text-xl: 60px;
    --padding-s: 20px;
    --padding-m: 40px;
    --padding-l: 60px;
    --padding-xl: 80px;
    --indent-s: 30px;
    --indent-m: 50px;
    --indent-l: 80px;
    --indent-xl: 100px;
}

.menu__container {
    flex-direction: column;
    width: 50%;
    flex-grow: 0;
    height: 100%;
    padding-top: var(--indent-l);
    padding-bottom: var(--indent-l);
    flex-basis: auto;
    justify-content: space-between;
    align-items: center;
    align-self: auto;
}

.game__title {
    align-self: auto;
    justify-content: flex-start;
    align-items: auto;
    flex-grow: 0;
    max-height: 60%;
}

.menu-screen__container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
    align-items: center;
}

.menu__top-block {
    flex-grow: 1;
    align-self: stretch;
}

.menu-btns__block {
    align-self: center;
    height: auto;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 0;
}

.main__btn {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgba(0, 0, 0, 0.13);
    font-size: 30px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    -unity-text-align: middle-center;
    -unity-font-style: bold;
}

.menu__btn {
    margin-top: var(--indent-s);
    font-size: var(--text-xl);
    padding-top: var(--padding-l);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-l);
    padding-left: var(--padding-xl);
}

.menu__title {
    -unity-font-style: bold;
    -unity-text-align: upper-center;
    font-size: var(--text-xl);
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
}

.buttons__block-vertical {
    flex-grow: 1;
}

.buttons__block-vertical > .first-child {
    margin-top: 0;
}

.control__btns__block {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: var(--indent-s);
}

.control__btns__block Button {
    padding-top: var(--padding-s);
    padding-bottom: var(--padding-s);
    padding-right: var(--padding-l);
    padding-left: var(--padding-l);
    margin-right: var(--indent-m);
    width: 300px;
}

.control__btns__block .last-child {
    margin-right: 0;
}

.hud__item {
    flex-direction: row;
    -unity-font-style: normal;
    font-size: 34px;
    color: rgb(255, 255, 255);
}

.hud__counter {
    -unity-font-style: bold;
    flex-direction: row-reverse;
    padding-right: 20px;
}

.end-game__menu {
    -unity-text-align: upper-center;
    font-size: 30px;
}

.end-game__title {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-bottom: 20px;
    font-size: 40px;
}

.end-game__btns {
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    flex-shrink: 0;
    align-self: stretch;
    padding-top: 20px;
}

.popup {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.popup__overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.62);
}

.popup__content {
    position: absolute;
    flex-grow: 1;
    translate: 0 -1050px;
    transition-property: translate;
    transition-duration: 300ms;
    transition-timing-function: ease-out-back;
}

.popup-hidden {
    top: -100%;
}

.popup-show {
    top: 0;
}

.popup-show .popup__content {
    background-color: rgb(255, 255, 255);
}

.animation__hide {
    translate: 0 -1050px;
    transition-timing-function: ease-in;
}

.animation__show {
    translate: 0 0;
}

.list > Label {
    display: none;
}

.list .unity-radio-button-group__container {
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
}

.list__item {
    width: 300px;
    height: 250px;
    margin-right: var(--indent-m);
}

.list__item > Label {
    display: none;
}

.list__item .unity-radio-button__checkmark-background {
    background-color: rgba(255, 255, 255, 0);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    width: 100%;
    height: 100%;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    -unity-background-scale-mode: scale-to-fit;
}

.list__item .unity-radio-button__checkmark {
    background-color: rgba(60, 241, 64, 0);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    width: 100%;
    height: 100%;
    border-left-color: rgb(255, 1, 1);
    border-right-color: rgb(255, 1, 1);
    border-top-color: rgb(255, 1, 1);
    border-bottom-color: rgb(255, 1, 1);
}

.list__item .unity-base-field__input {
    overflow: hidden;
}

.levels__item {
    background-image: url("project://database/Assets/Materials/Textures/level%202.jpg?fileID=2800000&guid=811f150c3b44b7c4c89480e7cb50f986&type=3#level 2");
    background-size: contain;
}

.difficulty__btn {
    padding: var(--padding-l);
    margin-top: var(--indent-m);
}

.difficulty__btn .last-child {
    margin-top: auto;
}

.game-menu-btn {
    font-size: var(--text-l);
    padding-top: var(--padding-m);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-m);
    padding-left: var(--padding-xl);
    margin-top: var(--indent-m);
}

.game-menu__container {
    padding-top: var(--padding-s);
    padding-right: var(--padding-m);
    padding-bottom: var(--padding-m);
    padding-left: var(--padding-m);
}

.game-menu__container .game__title {
    flex-grow: 1;
    max-height: none;
}

.game-menu__container .buttons__block-vertical {
    flex-shrink: 0;
}

.game-menu__container .buttons__block-vertical .game-menu-btn.last-child {
    /* margin-top: auto; */
}
